@import url('https://fonts.googleapis.com/css?family=Great+Vibes') ;
@import url('https://fonts.googleapis.com/css?family=Amatic+SC') ;
@import url('https://fonts.googleapis.com/css?family=Merienda');

* {
font-family : 'Merienda', 'cursive';
}
a{
    color: inherit;
    text-decoration: none;
}

b{
  color: #503e38;
  font-weight: bold;
}

/** PAGE INDEX **/ 

a:link, a:visited {
background-color : #8b6d60;
color : white;
padding : 14px 25px;
text-align : center;
text-decoration : none;
display : inline-block;
}

a:hover, a:active {
background-color : #7e7f80;
}

html, body {
height : 100%;
width : 100%;
margin : 0%;
font-size : 14px;
color : white;
}

header {
font-family :'Great Vibes', 'cursive';
background-image : url("../img/city.jpeg");
background-repeat : no-repeat;
background-position : center;
background-size : cover;
width : 100%;
height : 100%;
display : flex;
flex-direction : column;
justify-content : center;
align-items : center;
background-attachment: fixed;
}

header img {
width : 250px;
height : 300px;
}

header h1 {
color : white;
font-family :'Great Vibes', 'cursive';
font-size : 50px;
margin : 0%;
text-align : center;
letter-spacing : 5px;
padding : 10px 10px;
cursor : pointer;
transition : all 0.3s cubic-bezier(0.48,1.48,1,0.46);
animation : example 2s ease-in-out;
animation-name : example;
}

h2{
  margin: 0%;
}

@keyframes example {
from {
opacity : 0;
transform : translateY(100px);
}
to {
opacity : 1;
transform : translateY(0);
}
}

h2:hover {
color : #8b6d60;
}

h1{
  font-size: 25px;
}

#section {
background-image : url("../img/city.jpeg");
background-repeat : no-repeat;
background-position : center;
background-size : cover;
display : flex;
flex-wrap : wrap;
flex-direction : row;
justify-content : center;
min-height : 100%;
align-items : center;
background-attachment: fixed;
}

article {
background-repeat : no-repeat;
background-position : center;
background-size : cover;
display : flex;
flex-direction : column;
width : 30%;
align-items : center;
margin: 0%;
}

article {
width : 80%;
}

#article-1 {
  background-image : url("../img/experience.jpg");
  color : #3d728b;
  height : 300px;
  width : 300px;
  margin: 2%;
  }

#article-4 {
  background-image : url("../img/competences.jpg");
  color : #3d728b;
  height : 300px;
  width : 300px;
  margin: 2%;
  }
  
  #article-5 {
  background-image : url("../img/voyages.jpg");
  color : #3d728b;
  height : 300px;
  width : 300px;
  margin: 2%;
  }
  
  #article-6 {
  background-image : url("../img/contact.jpg");
  color : #3d728b;
  height : 300px;
  width : 300px;
  margin: 2%;
  }

.moncv {
    width : 100px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #8b6d60;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-size: 12px;
    }

.moncv:hover{
    background-color: #7e7f80;
}

.moncv:active{
    background-color:#d39270;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.cv{
  margin: 0%;
  padding: 0%;
}

#presentation {
    background-image: url("../img/gris_clair.jpg") ;
    color: white;
    height: 200px;
    width: 200px;
    text-align: center;
}

.menu {
  background-color: #8b6d60;
  text-align: center;
}
  /** FIN INDEX **/ 

.lesarticles, a {
    background-color : peru;
    background-image : none;
    flex-wrap : wrap;
    flex-direction : row;
    align-items : center;
    display : flex;
    justify-content : center;
    }

/** PAGE A CONTACT **/ 
    
.accueil {
    height: 2%;
    width: 100%;
    }

/** PAGE A PROPOS **/ 

.accueil {
    width : 30%;
    margin: 10%;
    }

#page_reduire{
  height: 20%;
  width: 100%;
}

#photo_header {
    height: 300px;
    width: 200px;
    padding: 10px 10px;
    text-align: right;
}
/** FIN - PAGE A PROPOS **/ 


#article-3 {
background-image : url("../img/hobbies.jpg");
height : 200px;
width : 200px;
margin: 0%;
border-radius: 80px;
flex-direction: row;
display : flex;
align-items: center;
text-align: center;
display: flex;
}

/** ABOUT **/ 

#about{
    text-align: center;
    background-image: url("../img/beige.jpg");
    background-attachment: fixed;
    padding: 3%;

}

/** TIMELINE **/
/** timeline verticale **/
.timeline {
    position: relative;
    max-width: 11100px;
    margin: 0 auto;
  }
  
  /** la timeline verticale **/
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 15px;
  }
  
  /** les contours du bloc **/
  .container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
  }
  
  /** les cercles **/
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #8b6d60;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /** le bloc à gauche **/
  .left {
    left: 0;
  }
  
  /** le bloc à droite **/
  .right {
    left: 50%;
  }
  
  /** les flèches sur la gauche **/
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /** les flèches sur la droite **/
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /** les cercles à droite **/
  .right::after {
    left: -16px;
  }
  /** le contenu **/
  .content {
    padding: 20px 30px;
    background-color: #8b6d60;
    position: relative;
    border-radius: 6px;
  }
  @media screen and (max-width: 600px) {
  /** timeline à gauche **/
    .timeline::after {
      left: 31px;
    }
  
  /** la longueur des blocs **/
    .container {
      width: 100%;
    }
  
  /** Flèches **/
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
    .left::after, .right::after {
      left: 10px;
    }
    .right {
      left: 0%;
    }
  }
/** EXPERIENCE **/ 
p{
  margin:0%;
}

#section_experience {
display : flex;
flex-wrap : wrap;
flex-direction : column;
align-items : center;
background-color: #8a6c5f;
}

#section_experience_head{
  background-color: #8a6c5f;
  text-align: center;
  height: 10%;
  min-width: 100%;
  margin: 0%;
}

#photo_profil {
  align-items : center;
  margin : 10%;
  width: 50%;
  height: 70%;
  }

#article-8{
  padding-bottom: 5%;
}

/** COMPETENCES **/ 

#section-7{
background-color: antiquewhite;
color: #8b6d60;
display : flex;
flex-direction : column;
align-items : stretch;
padding: 10%;
}

#jauge{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 15px 20px 10px 20px;
  margin: auto;
}

.jauge{
  display: flex;
  text-align: center;
  margin: 15px;
  color: white;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
}

/** HOBBIES **/
#section1{
background-image : url("../img/beige.jpg");
background-repeat : no-repeat;
background-position : center;
background-size : cover;
display : flex;
flex-wrap : wrap;
flex-direction : row;
justify-content : center;
align-items : center;
background-attachment: fixed;
}

#section2{
background-image : url("../img/beige.jpg");
background-repeat : no-repeat;
background-position : center;
background-size : cover;
display : flex;
flex-wrap : wrap;
flex-direction : row;
justify-content : center;
align-items : center;
background-attachment: fixed;
}

/** FIN TIMELINE **/ 

hr{
  width: 150px;
  color: white;
  text-align: center;
}


/** FOOTER **/ 

footer {
text-align : center;
align-items: center;
background-color : #8b6d60;
display: flex;
flex-direction: column;
margin: 0%;
    }
/** FIN FOOTER **/ 

/**RESPONSIVE***/
/*mobile*/
@media screen and (max-width:600px) {
  section {
flex-wrap : nowrap;
flex-direction : column;
          }
}

/*tablet*/
@media screen and (min-width: 600px) and (max-width: 900px){
  section a {
      width: 37%;
  }
}