@import url('https://fonts.googleapis.com/css?family=Great+Vibes') ;
@import url('https://fonts.googleapis.com/css?family=Amatic+SC') ;
@import url('https://fonts.googleapis.com/css?family=Merienda');

* {
font-family : 'Merienda', 'cursive';
}
a{
    color: inherit;
    text-decoration: none;
}

a:link, a:visited {
background-color : #8b6d60;
color : white;
padding : 14px 25px;
text-align : center;
text-decoration : none;
display : inline-block;
}

a:hover, a:active {
background-color : #7e7f80;
}

html, body {
height : 100%;
width : 100%;
margin : 0;
font-size : 14px;
color : white;
}

header {
font-family :'Great Vibes', 'cursive';
background-image : url("../img/city.jpeg");
background-repeat : no-repeat;
background-position : center;
background-size : cover;
width : 100%;
height : 100%;
display : flex;
flex-direction : column;
justify-content : center;
align-items : center;
}

header img {
width : 250px;
height : 300px;
}

header h1 {
color : white;
font-family :'Great Vibes', 'cursive';
font-size : 50px;
margin : 0%;
text-align : center;
letter-spacing : 5px;
padding : 10px 10px;
cursor : pointer;
transition : all 0.3s cubic-bezier(0.48,1.48,1,0.46);
animation : example 2s ease-in-out;
animation-name : example;
}

@keyframes example {
from {
opacity : 0;
transform : translateY(100px);
}
to {
opacity : 1;
transform : translateY(0);
}
}

h2:hover {
color : #8b6d60;
}

section {
background-image : url("../img/beige.jpg");
background-repeat : no-repeat;
background-position : center;
background-size : cover;
display : flex;
flex-wrap : wrap;
flex-direction : row;
justify-content : center;
min-height : 100%;
align-items : center;
}

article {
background-image : url("../img/beige.jpg");
background-repeat : no-repeat;
background-position : center;
background-size : cover;
display : flex;
flex-direction : column;
width : 30%;
margin : 10px;
align-items : center;
}

@media screen and (max-width:600px) {
    section {
flex-wrap : nowrap;
flex-direction : column;
            }
}

article {
width : 80%;

}

.lesarticles, a {
    background-color : peru;
    background-image : none;
    flex-wrap : wrap;
    flex-direction : row;
    align-items : center;
    display : flex;
    justify-content : row ;
    }

/** PAGE A CONTACT **/ 

#photo_profil {
    align-items : center;
    margin : 10%;
    }
    
.accueil {
    height: 2%;
    width: 100%;
    }

/** PAGE A PROPOS **/ 

.accueil {
    width : 30%;
    margin: 10%;
    }

#page_reduire{
  height: 20%;
  width: 100%;
}

#photo_header {
    height: 300px;
    width: 180px;
}
/** FIN - PAGE A PROPOS **/ 


/** PAGE INDEX **/ 

.moncv {
    width : 100px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #8b6d60;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-size: 12px;
    }
.moncv:hover{
    background-color: #7e7f80;
}
.moncv:active{
    background-color:#d39270;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#presentation {
    background-image: url("../img/gris_clair.jpg") ;
    color: white;
    height: 200px;
    width: 200px;
    text-align: center;
}

.menu {
  background-color: #8b6d60;
  text-align: center;
}

/** #photo_presentation {
    
} **/

#article-1 {
background-image : url("../img/experience.jpg");
color : #3d728b;
height : 300px;
width : 300px;
}

#article-3 {
background-image : url("../img/hobbies.jpg");
color : #3d728b;
height : 200px;
width : 200px;
border-radius: 80px;
flex-direction: column;
align-content: left;
display : flex;
}
/** ABOUT **/ 

#about{
    text-align: center;
}

/** TIMELINE **/
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 11100px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 15px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #8b6d60;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #8b6d60;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 10px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

/** FIN TIMELINE **/ 

hr{
  width: 150px;
  color: white;
text-align: center;
}

#article-4 {
background-image : url("../img/competences.jpg");
color : #3d728b;
height : 300px;
width : 300px;
}

#article-5 {
background-image : url("../img/voyages.jpg");
color : #3d728b;
height : 300px;
width : 300px;
}

#article-6 {
background-image : url("../img/contact.jpg");
color : #3d728b;
height : 300px;
width : 300px;
}

/** FIN INDEX **/ 

/** FOOTER **/ 

footer {
text-align : center;
align-items: center;
background-color : #8b6d60;
display: flex;
flex-direction: column;
    }
/** FIN FOOTER **/ 